html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    width: 100%;
    background-color: aqua;
}

header{
    text-align: center;
    font-family: Work Sans, sans-serif;
}

header h1{
    font-size: 5vw;
    margin: 1.5vw;
}

#form{
    display: block;
    margin: 1.5rem auto;
    width: 40%;
}

select{
    display: block;
    margin: 1.5rem auto;
    width: 100%;
    height: 2rem;
    font-family: Work Sans, sans-serif;
    border: 1.8px black solid;
}

option{
    text-align: center;
}

#location{
    width: 100%;
    display: none;
}

h2{
    text-align: center;
    margin: 1.5vw;
    font-size: 2vw;
    font-family: Work Sans, sans-serif;
}

#location input{
    position: relative;
    border: black;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 1.5vw;
    width: 100%;
    border: solid 1px #1f233e;
    font-family: Work Sans, sans-serif;
}

::placeholder{
    color: black;
    opacity: 60%;
}

#responseField{
    width: 100%;
    display: block;   
}

#container{
    width: 100%;
    display: block;
}

button{
    width: 100%;
    margin: 5% 0;
    height: 10vh;
    background-color: rgb(85, 233, 233);
    align-self: center;
    display: block;
    font-family: Work Sans, sans-serif;
    font-size: 15px;
}

button:hover{
    background-color: rgb(157, 243, 243);
    font-weight: bold;
}

@media screen and (max-width: 850px){
    header h1{
        font-size: 13vw;
    }

    #form{
        width: 60%;
    }

    button{
        margin: 5% 0;
    }

    h2{
        font-size: 5vw;
        margin: 5vw 0;
    }

    #location input{
        height: 8vw;
    }
}