html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

header{
    text-align: center;
    font-family: Work Sans, sans-serif;
    height: 20%;
}

header h1{
    font-size: 5vw;
    margin: 0;
}

#form{
    margin: 1.5rem auto;
    width: 40%;

    /*make flexbox for form for responsive*/
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

select{
    display: block;
    margin: auto;
    width: 100%;
    min-height: 3rem;
    font-family: Work Sans, sans-serif;
    font-size: 1rem;
    border: 1.8px black solid;
}

option{
    text-align: center;
}

#location{
    width: 100%;
    display: none;
}

h2{
    text-align: center;
    margin: 1vw;
    font-size: 2vw;
    font-family: Work Sans, sans-serif;
}

#location input{
    display: block;
    margin: auto;
    width: 100%;
    min-height: 3rem;
    font-family: Work Sans, sans-serif;
    font-size: 1rem;
    border: 1.8px black solid;
    box-sizing: border-box; /* prevent overflow*/
}

::placeholder{
    color: black;
    opacity: 60%;
}

#responseField{
    width: 100%;
    display: block;   
}

#container{
    width: 100%;
    display: block;
}

button{
    width: 100%;
    margin: 5% 0;
    height: 8vh;
    background-color: rgb(85, 233, 233);
    align-self: center;
    display: block;
    font-family: Work Sans, sans-serif;
    font-size: 1rem;
}

button:hover{
    background-color: rgb(157, 243, 243);
    font-weight: bold;
}

@media screen and (max-width: 850px){
    header h1{
        font-size: 13vw;
    }

    #form{
        width: 60%;
    }

    button{
        margin: 5% 0;
        font-size: 4vw;
    }

    h2{
        font-size: 5vw;
        margin: 3.5vw 0;
    }

    select, #location input{
        height: 1rem;
        font-size: 4vw;
    }
}